<!DOCTYPE HTML>
<html>
    <head>
        <title>PRIORITY TODO LIST</title>
    </head>
    <body>
        <h1>Todo List App</h1>

        <form action='/add' method='post'>

            {% csrf_token %}

            <label>Title</label><br>
            <input type="text" name="title" id="title" /><br>
            <label>Content</label><br>
            <input type="text" name="content" id="content" /><br>
            <label>Priority</label>

            <!-- Todo - Add options 1, 2, 3 to the dropdown menu below to set priority -->
            <select>
              <option value="1" selected> 1 </option>
              <option value="2" > 2 </option>
              <option value="3" > 3 </option>
            </select>
            <br>

            <input type="submit" value="Create">
        </form>
        <hr>

        <h2>Priority 1</h2>
        <ul>
            <!-- Todo - List Only Todos with Priority 1 -->
            {% for todo in todos %}
            <li>
                <div>
                    <!-- Todo - Add action and method attributes to below form -->
                    <!-- Todo - The form makes a post request to delete/id to delete the todo from the Database -->
                    <form>
                        <!-- Todo - Add csrf_token for security -->
                        <!-- Todo - List title of todo -->
                        title:
                        <br>
                        <!-- Todo - List content of todo -->
                        Content:
                        <br>
                        <!-- Todo - List priority of todo -->
                        Priority:
                        <br>
                        <!-- Todo - List timestamp of todo -->
                        Created on:
                        <br>
                        <!-- Todo - Create a submit button with value Delete -->
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
        <hr>

        <h2>Priority 2</h2>
        <ul>
            <!-- Todo - List Only Todos with Priority 2 -->
            {% for todo in todos %}
            <li>
                <div>
                    <!-- Todo - Add action and method attributes to below form -->
                    <!-- Todo - The form makes a post request to delete/id to delete the todo from the Database -->
                    <form>
                        <!-- Todo - Add csrf_token for security -->
                        <!-- Todo - List title of todo -->
                        title:
                        <br>
                        <!-- Todo - content title of todo -->
                        Content:
                        <br>
                        <!-- Todo - List priority of todo -->
                        Priority:
                        <br>
                        <!-- Todo - List timestamp of todo -->
                        Created on:
                        <br>
                        <!-- Todo - Create a submit button with value Delete -->
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
        <hr>

        <h2>Priority 3</h2>
        <ul>
            <!-- Todo - List Only Todos with Priority 3 -->
            {% for todo in todos %}
            <li>
                <div>
                    <!-- Todo - Add action and method attributes to below form -->
                    <!-- Todo - The form makes a post request to delete/id to delete the todo from the Database -->
                    <form>
                        <!-- Todo - Add csrf_token for security -->
                        <!-- Todo - List title of todo -->
                        title:
                        <br>
                        <!-- Todo - List content of todo -->
                        Content:
                        <br>
                        <!-- Todo - List priority of todo -->
                        Priority:
                        <br>
                        <!-- Todo - List timestamp of todo -->
                        Created on:
                        <br>
                        <!-- Todo - Create a submit button with value Delete -->
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
